parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    site_domain: vis.sf.dev

    facebook_app_id: 'app_id'
    facebook_app_secret: 'app_secret'
    facebook_app_url: 'https://apps.facebook.com/'
    facebook_app_this_url: 'http://%site_domain%'
    facebook_app_scope: [email, user_birthday, user_location]