{% extends 'VICTORVISUserBundle::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">ViCtOrViS</a>
            </div>            
            
            <a href="{{ path("fos_user_security_login") }}" class="btn btn-primary pull-right btn-login" role="button">Login</a>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </div>
{% endblock %}