{% extends 'VICTORVISUserBundle::base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container"></div>
    </nav>
{% endblock %}

{% block footer %}
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <p class="navbar-text">ViCtOrViS</p>
        </div>
    </nav>
{% endblock %}