{% extends 'VICTORVISUserBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12"><h1>Tabela teste</h1></div>
        <div class="col-xs-12 text-right"><a href="{{ path("victorvis_front_list_pdf") }}">Gerar PDF</a></div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nome</th>
                  <th>Cidade</th>
                  <th>Fone</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
                <tr>
                  <td>002</td>
                  <td>Victor Scheibe</td>
                  <td>Porto Alere</td>
                  <td>51 9999-9999</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}